<header>
  <h1> Bunny <img [src]="logoBunny" height="70px" width="70px"/> for nothing </h1>
  <nav>
    <a routerLink="accueil" routerLinkActive="active"> Accueil </a>
    <a routerLink="list-habitats" routerLinkActive="active"> Habitats </a>
    <a routerLink="list-nourriture" routerLinkActive="active"> Nourriture </a>
    <a routerLink="list-jouet" routerLinkActive="active"> Jouets </a>
    <a routerLink="list-accessoire" routerLinkActive="active"> Accessoires </a>
    <a routerLink="list-lapins" routerLinkActive="active"> Trouver un Lapin </a>
    <a routerLink="nouveau-lapin" routerLinkActive="active"> Trouver une Famille </a>
    <a routerLink="nouvelle-demande" routerLinkActive="active"> Demandes Spéciales </a>
  </nav>
</header>
