<div class="information-page">
  <div class="introduction-texte">
    <div class="introduction-texte-box">
      <h1> Le lapin </h1>
      Si les chiens et les chats sont nombreux dans les foyers français, les lapins sont également d’excellents animaux
      de compagnie. Les lapins sont à la fois intelligents, affectueux, vif et curieux. Pouvant vivre en ville comme à
      la campagne, le lapin est très attachant et proche de l’homme. Vous pourriez être surpris à quel point les lapins
      adorent les caresses!
    </div>
  </div>

  <div class="introduction-image">
    <img [src]="bunnyIntroduction" width="90%" height="90%"/>
  </div>

  <div class="origine-lapin">
    <div class="origine-lapin-box">
      <h1> L’origine de l’espèce du lapin </h1>
      Tous les lapins que nous connaissons aujourd’hui descendent du lapin de garenne, apparu il y a un million d’années
      en Europe du Nord. Le rude climat qui y faisait a forcé les lapins à migrer dans les régions méditerranéennes de
      l’Italie et de l’Espagne.

      <br/> <br/>

      La plus ancienne représentation du lapin remonte à un papyrus montrant un homme tenant un lapin de garenne par ses
      oreilles. Dans leurs récits de voyage datant de 1100 avant Jésus-Christ, les Phéniciens (ancien peuple du Liban)
      décrivent leur arrivée dans les Pyrénées marquée par de nombreux lapins sauvages.

      <br/> <br/>

      Il fait aujourd’hui partir des Nouveaux Animaux de Compagnie (NAC) et est présent dans de nombreux foyers.
    </div>
  </div>

  <div class="particularités-lapin">
    <div class="particularités-lapin-box">
      <h1> Ses particularités physiques </h1>
      Le lapin fait partie de la famille des lagomorphes, non pas des rongeurs, au même titre que le lièvre ou le pika.
      Le lapin a un corps allongé et des pattes très longues qu’il n’est possible de voir que lorsqu’il marche ou court.
      En effet, immobile il replie ses pattes pour faire apparaître un dos tout rond telle une petite boule de poils. Il
      dispose également d’une petite queue très discrète. On ne peut décrire le lapin sans parler de ses longues
      oreilles droites ou pendantes. Sa petite tête est dotée d’un front plat, d’un petit museau et de joues gonflées.

      <br/> <br/>

      Il existe de nombreuses races de lapins dont chacune offre ses propres caractéristiques physiques. On peut ainsi
      trouver des lapins de 20cm pour moins de 1kg et d’autres dépassant le mètre et pesant plus de 10kg. Ces races se
      distinguent aussi par leurs poils et leurs oreilles qui peuvent courts à longs. A l’instar des chats ou des
      chevaux, les lapins peuvent être de multiples robes: blancs, noirs, gris, fauves, marrons… unis, bicolores voire
      tricolores. Si les yeux ronds des lapins sont souvent marrons, ils peuvent aussi être bleus, même si cela reste
      très rare.
    </div>
  </div>

  <div class="caractere-comportement-lapin">
    <div class="caractere-comportement-lapin-box">
      <h1> Le caractère et le comportement du lapin </h1>
      Le lapin est un animal tout en contradiction: il est curieux mais peureux, affectueux mais timide, vif mais
      paresseux. Très attaché son propriétaire, il donne beaucoup d’amour et se montre même joueur. C’est un animal
      intelligent et très sociable qui viendra volontiers à la rencontre de nouveaux venus, humains comme animaux, même
      s’il reste très méfiant.

      <br/> <br/>

      Il ne faut pas oublier que le lapin est très sensible, notamment au stress. Il faut donc éviter toute situation
      bruyante ou confrontation avec des animaux qui pourraient le poursuivre. Néanmoins, il peut vivre avec d’autres
      congénères ou animaux qui le respectent. Etant une espèce sociale, il appréciera grandement la présence d’un autre
      lapin.
    </div>
  </div>

  <div class="vie-lapin">
    <div class="vie-lapin-box">
      <h1> Ses conditions de vie </h1>
      Contrairement à d’autres NAC, le lapin est un animal diurne, il vit donc la journée même s’il passe de longues
      heures à faire la sieste. On constate souvent un regain d’énergie le matin et en début de soirée.

      <br/> <br/>

      Le lapin est un animal naturellement propre qui fera ses besoins dans son bac à litière. Il peut vivre hors de sa
      cage, et doit être sorti tous les jours pour se dépenser. Un lapin qui ne sort pas de sa cage peut devenir
      associable voire agressif, alors qu’un lapin majoritairement en liberté est sociable et très affectueux. Pour les
      sorties, vous pouvez le laisser en liberté ponctuelle ou constante dans une pièce en faisant attention aux fils
      électriques. Vous pouvez également prévoir un grand enclos constitué de cachettes (cartons, maisonnettes, tuyaux)
      et de plateformes surélevées. Vous pouvez également retourner des cagettes de marché en carton, elles font très
      bien l’affaire.
    </div>
  </div>

  <div class="cage-lapin-image">
    <img [src]="bunnyCage" width="95%" height="95%"/>
  </div>

  <div class="cage-lapin">
    <div class="cage-lapin-box">
      <h1> La cage du lapin </h1>
      La cage du lapin doit être à barreaux, et non en plastique qui ne dispose pas d’une ventilation suffisante, et
      assez grande pour y faire 3 à 4 bonds de suite et haute pour permettre au lapin de se dresser sur ses membres
      postérieurs. Elle doit également être bien organisée :

      <ul>
        <li> Du foin au sol</li>
        <li> Un bac avec litière végétale (chanvre végétal plutôt que du foin, de la paille ou de la litière pour
          chat)
        </li>
        <li> Un râtelier pour le foin</li>
        <li> Une gamelle pour l’eau (à préférer au biberon pour l’inciter à boire plus)</li>
        <li> Des cachettes</li>
        <li> Une zone de repos avec un tapis</li>
      </ul>

      Ne mettez pas de copeaux de cèdre ou de pins qui libèrent des molécules pouvant irriter les voies respiratoires du
      lapin.

      <br/> <br/>

      Placez la cage dans un environnement calme à l’abri des courants d’air et du bruit.

      <br/> <br/>

      Comme nous l’avons vu précédemment, cette cage ne doit être qu’un lieu où il se restaure, se repose et fait ses
      besoins mais en aucun cas son unique lieu de vie.
    </div>
  </div>

  <div class="alimentation-lapin">
    <div class="alimentation-lapin-box">
      <h1> L’alimentation du lapin </h1>
      Le lapin est un herbivore strict et non un granivore. Pour bénéficier d’une alimentation équilibrée et
      diversifiée, il faut lui offrir chaque jour idéalement trois sortes de légumes verts, avec une introduction
      progressive des nouveaux aliments. Une forte teneur en fibres est essentielle, apportée par du foin de bonne
      qualité, qui permet également l’usure des dents et un bon transit digestif.

      <br/> <br/>

      Vous pouvez lui donner des fruits en petite quantité. Ils sont à privilégier par rapport aux friandises et aux
      barres de céréales, qui sont à bannir. La luzerne et les blocs à lécher, contenant beaucoup de calcium, sont
      également à proscrire car ils favorisent les calculs et les cystites. Des granulés peuvent compléter la ration en
      période de croissance, lactation et gestation, mais ne doivent surtout pas constituer son alimentation principale
      (risque d’obésité notamment).
    </div>
  </div>

  <div class="santé-hygiene-lapin">
    <div class="santé-hygiene-lapin-box">
      <h1> Sa santé et son hygiène </h1>
      Pour lui assurer une bonne santé et lui éviter tout risque de contracter une maladie mortelle, il est vivement
      conseiller de faire vacciner son lapin. Les traitements vermifuge et un antiparasitaire sont également à
      renouveler régulièrement.

      <br/> <br/>

      La stérilisation est vivement conseillée, notamment pour éviter le marquage, les agressions territoriales et les
      tumeurs utérines (fréquentes chez les femelles).

      <br/> <br/>

      Le lapin est un animal fragile. Veillez à ne pas l’exposer au stress et à ne jamais le porter par les oreilles.
      Soyez aussi vigilants aux coups de froids.
    </div>
  </div>

</div>


